
.header_right ul{
	float:right;
	list-style:none;
	margin:22px 0px 0px 0px;
	padding:0;
	}

.header_right ul li{
	float:left;
	list-style:none;
	margin:0;
	padding:0;
	background:url(/images/line.jpg) right no-repeat;
	}

.header_right ul li.last{background:url(/images/line.jpg) right no-repeat;}

.header_right li a:link,  li a:visited{
	display:block;
	margin:0;
	padding:5px 15px;
	color:green;
	font-size:18px;
	text-decoration:none;
	}

.header_right ul ul li a:link,  ul ul li a:visited{
	border:none;
	}

.header_right li.last a{
	margin-right:0;
	}

.header_right li a:hover, ul li.active a{
	background-color:green;
	-moz-border-radius:5px;
	-webkit-border-radius: 5px;
	color:white;
	}
	
.header_right li li a:link, li li a:visited{
	width:150px;
	float:none;
	margin:0;
	padding:7px 10px;
	font-size:12px;
	font-weight:normal;
	color:#FFFFFF;
	}
	
.header_right li li a:hover{
	color:#FFFFFF;
	}

.header_right li ul{
	background: #FFFFFF;
	z-index:9999;
	position: absolute;
	left: -999em;
	height:auto;
	width:170px;
	border-left:1px solid #FFFFFF;
	border-bottom:1px solid #FFFFFF;
	}

.header_right li ul a{width: 140px;}

.header_right li ul ul{margin: -32px 0 0 0;}

.header_right li:hover ul ul{left: -999em;}

.header_right li:hover ul, #topnav li li:hover ul{left:auto;}

.header_right li:hover{ position: static;}

.header_right li.last a{margin-right:0;}


